body {
    background-color: black
}

#first {
    font-size: 90px;
    color: blanchedalmond;

}

#second {

color:blanchedalmond;
}

#third {

    color: beige;
}

#fourth {

    color:beige;
}

#sixth {

    color:goldenrod;
}